<h1 class="text-center">Select An Exercise</h1>

<mat-card appearance="outlined">
  <mat-card-content>
    <button class="exercise-type-btn" mat-raised-button (click)="navigateToFeedback()">
      <div class="content">
        <img src="assets/images/dumbbell-curl.jpg" alt="bumbbell-curl"/>
        <div class="exercise-details">
          <p class="type-title">Dumbbell Curls</p>
          <p class="type-description"></p>
        </div>
      </div>
    </button>

    <button class="exercise-type-btn" mat-raised-button>
      <div class="content">
        <img src="assets/images/dumbbell-curl.jpg" alt="bumbbell-curl"/>
        <div class="exercise-details">
          <p class="type-title">Dumbbell Curls</p>
          <p class="type-description"></p>
        </div>
      </div>
    </button>
  </mat-card-content>
</mat-card>
